/* :root{
    --bg-gradient: radial-gradient(18% 28% at 24% 50%, #CEFAFFFF 7%, #073AFF00 100%),radial-gradient(18% 28% at 18% 71%, #FFFFFF59 6%, #073AFF00 100%),radial-gradient(70% 53% at 36% 76%, #73F2FFFF 0%, #073AFF00 100%),radial-gradient(42% 53% at 15% 94%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(18% 28% at 35% 87%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(31% 43% at 7% 98%, #FFFFFFFF 24%, #073AFF00 100%),radial-gradient(35% 56% at 91% 74%, #FFFFFFF5 9%, #073AFF00 100%),radial-gradient(74% 86% at 67% 38%, #09E8FFF5 40%, #073AFF00 100%),linear-gradient(125deg, #4EB5FFFF 1%, #4C00FCFF 100%);
    --bg-gradient-dark: linear-gradient(to bottom, rgba(0, 0, 0, 0.604),rgba(5, 5, 5, 0.527)), radial-gradient(18% 28% at 24% 50%, #CEFAFFFF 7%, #073AFF00 100%),radial-gradient(18% 28% at 18% 71%, #FFFFFF59 6%, #073AFF00 100%),radial-gradient(70% 53% at 36% 76%, #73F2FFFF 0%, #073AFF00 100%),radial-gradient(42% 53% at 15% 94%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(18% 28% at 35% 87%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(31% 43% at 7% 98%, #FFFFFFFF 24%, #073AFF00 100%),radial-gradient(35% 56% at 91% 74%, #FFFFFFF5 9%, #073AFF00 100%),radial-gradient(74% 86% at 67% 38%, #09E8FFF5 40%, #073AFF00 100%),linear-gradient(125deg, #4EB5FFFF 1%, #4C00FCFF 100%);
} */

.app {
    background: var(--bg-gradient);
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.customContainer{
    max-width: 1080px;
    margin: 20px auto;
}

.glass-box {
   
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.search-bar{
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}